.u-center-text {
  text-align: center !important;
}
.center-text {
  text-align: center !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}
.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}
.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}
.mt-big {
  margin-top: 8rem !important;
}
.mt-huge {
  margin-top: 10rem !important;
}
//margin bottom
.mb-big {
  margin-bottom: 8rem !important;
}
.mb-medium {
  margin-bottom: 4rem !important;
}
.mb-small {
  margin-bottom: 1.5rem !important;
}
